.panel {
    width: 30%;
    background-color: #0D99FF;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.panel h1 {
    font-size: 80px;
    font-weight: 900;
    text-align: center;
}

.panel img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 120px;
}